{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% get_media_prefix %}favicon.png" type="image/x-icon">
    <link rel="shortcut icon" href="{% get_media_prefix %}favicon.png" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Chatbot Sayfası</title>
  
</head>
<body>


<div id="sidebar">
    <a href="http://localhost:8000/" style="text-decoration: none;cursor: pointer;color: black">
        <h4 style="margin-top: 20px;padding-bottom: 5px;justify-content: center;"><i class="bi bi-robot"></i> Chat Bot
        </h4>
    </a>


    <section class="today">
        <button class="btn btn-outline-secondary"
                style="margin-top: 20px;height: 30px;display: flex; align-items: center; justify-content: center;">Yeni
            Sohbet
        </button>
    </section>

    <section class="today" style="height: 60vh;">
        <h5 style="margin-top: 50px"><i class="bi bi-clock-history"></i> Sohbetlerim</h5>
        <ul>
            <li><a href="#">Ana Sayfa</a></li>
            <li><a href="#">Sıkça Sorulan Sorular</a></li>
            <li><a href="#">Destek</a></li>
            <!-- Yeni eklenen kısım -->
            <li><a href="#">Yardım ve Rehber</a></li>
            <li><a href="#">İletişim</a></li>
        </ul>
    </section>

    <section class="sidebar">
        <div class="dropdown" style="text-align: left;">
            <a class="btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
               data-bs-toggle="dropdown" aria-expanded="false">

                <img src="{% get_media_prefix %}profil_picture.png" class="profile-img" width="32" height="32">
                {{ name }}

            </a>

            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink" style="background-color: antiquewhite;">
                <li><a class="dropdown-item" href="#"><i class="bi bi-person-vcard"></i> Profil</a></li>
                <li><a class="dropdown-item" href="#"><i class="bi bi-gear"></i> Ayarlar</a></li>
                <li><a class="dropdown-item" href="#"><i class="bi bi-trash"></i> Sohbeti Temizle</a></li>
                <li><a class="dropdown-item" href="#"><i class="bi bi-box-arrow-right"></i> Çıkış</a></li>
            </ul>
        </div>

    </section>

    <section class="sidebar" style="margin-top: 30px">
        <div class="profile-icons" style="text-align: left;margin-left: 20px">
            <a href="https://github.com/umutins62" target="_blank" style="text-decoration: none; ">
                <img src="{% get_media_prefix %}github.png" width="24" height="24" alt="Instagram"
                     style="opacity: 50%">
            </a>


            <a href="https://www.linkedin.com/in/umut-%C3%A7elik-837897169/" target="_blank"
               style="text-decoration: none;margin-left: 30px ">
                <img src="{% get_media_prefix %}linkedin.png" width="24" height="24" alt="Instagram"
                     style="opacity: 50%">
            </a>

            <a href="https://umutins62.pythonanywhere.com/" target="_blank"
               style="text-decoration: none;margin-left: 30px ">
                <img src="{% get_media_prefix %}portfolio.png" width="24" height="24" alt="Instagram"
                     style="opacity: 50%">
            </a>
            <p style="text-align: left;margin-top: 20px;font-size: 14px;color: lightslategray">© 2023 Umut CELIK</p>

        </div>
    </section>


    <section class="sidebar">

    </section>
</div>
<!-- Image and text -->


<div class="chat-container">

    <div style="text-align: center">
        <img src="{% get_media_prefix %}chat.png">
        <h5 style="text-align: center;">Size nasıl yardımcı olabilirim?</h5>
    </div>

    <div class="chat-messages" style="border: none;padding: 20px">
        {% for chat in chats %}

            <div class="card" style="border: none;">
                <img src="{% get_media_prefix %}profil_picture.png" width="32" height="32" alt="user"
                     style="border-radius: 50%">
                <p style="text-align: justify;margin-top: 10px">
                    <b>Sen:</b> {{ chat.message }} <br/>
                </p>

            </div>

            <div class="card" style="margin-top: 10px;border: none">

                <img src="{% get_media_prefix %}chat.png" width="36" height="36" alt="bot">
                <p style="text-align: justify">
                    <b>Chat Bot</b> {{ chat.response }} <br/><br/>
                </p>

            </div>
        {% endfor %}
    </div>
    <form method="post" style="padding:20px">
        {% csrf_token %}
        <div class="card" style="border-radius: 10px;display: flex;height: 50px;
  justify-content: center;">
            <div class="input-container">
                <input type="text" id="messageInput" name="message" placeholder="Mesajınızı yazın..."
                       style="border: none;color: black;font-size: 14px; outline: none;">
                <button type="submit" style="cursor: pointer;border: none;background-color: transparent">
                    <img src="{% get_media_prefix %}send.png" width="32" height="32" alt="Gönder"
                         style="opacity: 50%">
                </button>
            </div>

        </div>
    </form>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>
