{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% get_media_prefix %}favicon.png" type="image/x-icon">
    <link rel="shortcut icon" href="{% get_media_prefix %}favicon.png" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Chatbot Sayfası</title>
    <style>
        body {
            font-family: "Courier New", Courier, monospace;
            margin: 0;
            padding: 0;
            display: flex;
        }

        #sidebar {
            font-family: "Courier New", Courier, monospace;
            width: 250px;
            height: 100vh;
            color: black;
            padding: 20px;
            border-left-color: black;
        }

        #chat-container {
            flex: 1;
            padding: 20px;
        }


        ul li {
            display: inline-block;
            margin-right: 15px;
            color: white;
        }

        ul li a {
            color: lightslategray;
            text-decoration: none;
        }


    </style>
</head>
<body>

<div id="sidebar">
    <h4 style="margin-top: 20px;padding-bottom: 5px;justify-content: center;"><img
            src="{% get_media_prefix %}chat-bot.png" width="24" height="24">Chat Bot</h4>
    <section class="today">
        <h5 style="margin-top: 50px">Geçmiş</h5>
        <ul>
            <li><a href="#">Ana Sayfa</a></li>
            <li><a href="#">Sıkça Sorulan Sorular</a></li>
            <li><a href="#">Destek</a></li>
            <!-- Yeni eklenen kısım -->
            <li><a href="#">Yardım ve Rehber</a></li>
            <li><a href="#">İletişim</a></li>
        </ul>
    </section>
    <hr>
    <section class="sidebar">
        <h5>Hızlı Erişim</h5>
        <ul>
            <li><a href="#">Ana Sayfa</a></li>
            <li><a href="#">Sıkça Sorulan Sorular</a></li>
            <li><a href="#">Destek</a></li>
            <!-- Yeni eklenen kısım -->
            <li><a href="#">Yardım ve Rehber</a></li>
            <li><a href="#">İletişim</a></li>
        </ul>
    </section>
    <hr>
    <section class="sidebar">
        <h5>Ayarlar</h5>
        <ul>
            <li><a href="#">Sohbeti Sil</a></li>

        </ul>
    </section>

    <hr>

    <section class="sidebar">
        <div class="flex-container" style="justify-content: center;margin-left: 20px">

            <div class="profile-icons mt-3">
                <a href="https://github.com/umutins62" target="_blank" style="text-decoration: none; ">
                    <img src="{% get_media_prefix %}github.png" width="24" height="24" alt="Instagram"
                         style="opacity: 50%">
                </a>


                <a href="https://www.linkedin.com/in/umut-%C3%A7elik-837897169/" target="_blank"
                   style="text-decoration: none;margin-left: 30px ">
                    <img src="{% get_media_prefix %}linkedin.png" width="24" height="24" alt="Instagram"
                         style="opacity: 50%">
                </a>

                <a href="https://umutins62.pythonanywhere.com/" target="_blank"
                   style="text-decoration: none;margin-left: 30px ">
                    <img src="{% get_media_prefix %}portfolio.png" width="24" height="24" alt="Instagram"
                         style="opacity: 50%">
                </a>


            </div>
    </section>
</div>

<div id="chat-container">
    <div style="text-align: center">
        <img src="{% get_media_prefix %}chat.png">
        <h5 style="text-align: center;">Size nasıl yardımcı olabilirim?</h5>
    </div>


    <div class="chat-container">
        <div class="chat-messages" style="border: none">
            <!-- Buraya chat mesajları eklenecek -->
        </div>

        <div class="card" style="border-radius: 10px;display: flex;height: 50px;
  justify-content: center;">
            <div class="input-container">
                <input type="text" id="messageInput" placeholder="Mesajınızı yazın..."
                       style="border: none;color: darkgray;font-size: 14px; outline: none;">
                <a onclick="sendMessage()" style="cursor: pointer">
                    <img src="{% get_media_prefix %}send.png" width="32" height="32" alt="Gönder" style="opacity: 50%">
                </a>
            </div>

        </div>
        <p style="text-align: center;margin-top: 20px;font-size: 14px;color: lightslategray">© 2023 Umut CELIK Chat
            Bot</p>
    </div>


</div>


{#<script>#}
{#    function sendMessage() {#}
{#        // Bu fonksiyon, kullanıcının mesajını alıp chat kutusuna ekleyebilirsiniz#}
{#        var message = document.getElementById('message').value;#}
{#        var chatBox = document.getElementById('chat-box');#}
{#        chatBox.innerHTML += '<p><strong>User:</strong> ' + message + '</p>';#}
{##}
{#        // TODO: Burada bir chatbot tarafından cevap eklemek için gerekli kodları ekleyin#}
{##}
{#        // Kullanıcının girdiği mesajı temizle#}
{#        document.getElementById('message').value = '';#}
{#    }#}
{#</script>#}


</body>

</html>
